@font-face {
    font-family: 'edwardian_script_itcregular';
    src: url('font/edwardian-script-itc-1361504162-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.home-container {
  display: flex; !important;
  flex: 1 1 auto; !important;
  flex-wrap: wrap;
  border: 1px dotted grey; !important;
  margin: 15px;
}

#hero {
  position: relative;
  text-align: center;
  color: white;
  width: 100%;
  height: 50%;
}

#hero > img {
  width: 100%;
  height: 100%;
}

.menu-icon {
  display: block;
  cursor: pointer;
  top: 14px;
  position: absolute;
  left: 18px;
}

.bar1, .bar2, .bar3 {
  width: 44px;
  height: 6px;
  background-color: black;
  margin: 8px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-11px, 10px);
  transform: rotate(-45deg) translate(-11px, 10px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8.5px, -8px);
  transform: rotate(45deg) translate(-8.5px, -8px);
}

#hero .bottom-left {
  position: absolute;
  bottom: 6px;
  left: 20px;
}

#hero .bottom-left .couple {
  font-family: 'Dancing Script', cursive;
  font-size: 0vh;
  letter-spacing: 3px;
  font-weight:600;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 35px;
  display: table-caption;
}

#hero .bottom-left .welcome {
  font-family: Mali;
  margin-top: 0;
  font-size: 1.1em;
  margin-bottom: 10px;
}

#detail {
  position: relative;
  text-align: center;
  color: black;
  width: 100%;
  height: 50%;
}

#detail > img {
  width: 100%;
  height: 100%;
}

#detail .centered {
  white-space: nowrap;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-71%, -46%);
  color:white;
  bottom: -100px;
}

#detail .centered .venue {
    font-family: 'Dancing Script', cursive;
    font-size: 5.0vh;
    font-weight: 550;
    margin-bottom: 70px;
    margin-top: 70px;
}

#detail .centered .party {
  font-family: Mali;
  font-size: 3.0vh;
  margin: 7px;
}

#detail .centered .occasion {
  font-family: sacramento;
  font-size: 4.4vh;
  margin:5px;
}

#detail .centered .big {
  font-size: 5.0vh;
}

.footer {
  flex: 0 1 40px;
}

.header {
  flex: 0 1 auto;
}

@media only screen and (min-width: 992px) {
  .home-container {
    flex: 0 1 auto; !important;
    display: flex; !important;
  }
  #hero {
    width: 67%;
    height: auto
  }

  #hero .bottom-left{
    bottom: 29px;
    left: 14px;
  }
  #hero .bottom-left .couple {
    font-size: 4.0em;
    letter-spacing: 5px;
    font-weight:600;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 35px;
    display: block;
  }

  #detail {
    width: 33%;
    height: auto;
  }

  #detail .centered .venue {
    font-size: 2.5em;
  }
  #detail .centered .occasion {
    font-size: 2.5em;
  } 

  #detail .centered .party {
    font-size: 1.0em;
  }

  #detail .centered .big {
    font-size: 2.8em;
  }
}
